*{
    margin: 0;
    padding: 0;
}
section{
    margin: 20px 8%;
}
ul{
    list-style-type: none;
    float: right;
    margin-top: 10px;
}
ul li {
    display: inline-block;
    
}
ul li a{
    text-decoration: none;
    padding: 5px 20px;
    font-weight: bold;
}
ul li a:hover{
    color: #FF8367;

}

/* second section                            ;;;;;;;;;;;;;;;;*/

section h1{
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    font-size: 80px;
    position: absolute;
    width: 348px;
    height: 160px;
    left: 110px;
    top: 150px;
    color: #363958;

}
section .main-name{
    color: #FF8367;
}
.some-details{
    position: absolute;
    width: 309px;
    height: 48px;
    left: 110px;
    top: 358px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.button{
    position: absolute;
    padding: 15px 40px;
    left: 110px;
    border-radius: 5px;
    color:white;
    font-weight: 600;
    top: 440px;
    text-decoration: none;
    background-image: linear-gradient(rgb(238, 89, 56),  #FF8367);
    text-align: center;
    justify-content: center;

}
.image-1{
    position: absolute;
    width: 465px;
    height: 613px;
    left: 720px;
    top: 38px;
}


/*          third section --------  */
.image-2{
    position: absolute;
    idth: 476.26px;
    height: 583.51px;
    left: 123px;
    top: 544px;
}
.about{
    position: absolute;
    width: 95px;
    height: 48px;
    left: 831px;
    top: 738px;
    font-family: Bebas Neue;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
}
.about-para{
    position: absolute;
    width: 451px;
    height: 132px;
    left: 831px;
    top: 813px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.download{
    position: absolute;
    left: 831px;
    top: 969px;

}
.download-icon{
    width: 25px;
    position: absolute;
    
    color: white;
}